.one {
    color: blue;
}
p u {
    color: orange;
}
 .two {
     list-style: none;
 }
 li {
     color: ;
 }
 
 a{
     color: red;
 }
 .three {
     color: black;
 }
.three li {
    color: blue;
}
.link {
    background-color: yellow;
    color: chocolate;
}